<% if @left_source_code.empty? && @right_source_code.empty? %>
<div class='diff_message'><p>No source code available</p></div>

<% else
  diffy_output = Diffy::Diff.new(@left_source_code, @right_source_code, :include_plus_and_minus_in_html => true,  :allow_empty_diff => false).to_s(:html)
  
  are_there_changes = !(@left_source_code.eql? @right_source_code)
  
  doc = Nokogiri::HTML::DocumentFragment.parse diffy_output
  
  # Goal, convert the <li> into <div> in order to have better control
  lines = doc.css('li')

  unless are_there_changes %>
  <div class='diff_message'><p>Files are identical</p></div>
  <% end %>

  <div class='diff'>  
    <% 
    left_line_number = 0
    right_line_number = 0
  
    lines.each do |line| 
      css_class = line.attributes['class'].value
      show_left_line = false
      show_right_line = false
      
      if (css_class.eql? 'unchanged')
        left_line_number += 1
        right_line_number += 1
        show_left_line = true
        show_right_line = true
      elsif (css_class.eql? 'ins')
        right_line_number += 1
        show_right_line = true
      elsif (css_class.eql? 'del')
        left_line_number += 1
        show_left_line = true
      end
    %>
    <div class='diff_line'>
      <% unless @left_source_code.blank? %>
      <div class='line_number left_number'><%= left_line_number if show_left_line %></div>
      <% end %>
  
      <% if are_there_changes && ! @right_source_code.blank? %>
      <div class='line_number right_number'><%= right_line_number if show_right_line %></div>
      <% end %>
  
      <div class='<%= css_class.html_safe %> source_code'>
        <%= line.inner_html.html_safe %>
      </div>
      <%= render partial: "comment", locals:
        {
          line_number: show_right_line ? right_line_number : left_line_number,
          source_file: show_right_line ? @right_submission.source_files.first : @left_submission.source_files.first
        }
      %>
    </div>
    <% end %>
  </div>
<% end %>
