<%= form_for(@problem_submission, multipart: true) do |f| %>
  <% if @problem_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem_submission.errors.count, "error") %> prohibited this problem submission from being saved:</h2>

      <ul>
      <% @problem_submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :problem_id %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.file_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
