<p id="notice"><%= notice %></p>

<h1>Code Review</h1>

<table>
  <thead>
    <tr>
      <th>File relative path</th>
      <th>Iteration</th>
      <th>When</th>
      <th>Problem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problem_submissions.each do |problem_submission| %>
      <tr>
        <td><%= problem_submission.file_relative_path %></td>
        <td><%= problem_submission.iteration %></td>
        <td><%= problem_submission.when %></td>
        <td><%= problem_submission.problem.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', problem_submissions_path %>