<p id="notice"><%= notice %></p>

<h1>Code Review</h1>

<h2>Iterations</h2>
<div class="iteration_section">
  <div class="left_iteration">
    <div class="iteration_name">
      <%= unless @show_one_iteration then "Left" end %> Iteration:
    </div>
    <div class="iteration_selector">
      <%= select_tag "left_iteration_select", options_from_collection_for_select(@iterations, :value, :label, @left_iteration), class: 'iteration_select' %>
    </div>
  </div>
  <% unless @show_one_iteration%>
  <div class="right_iteration">
    <div class="iteration_name">
      Right Iteration:
    </div>
    <div class="iteration_selector">
      <%= select_tag "right_iteration_select", options_from_collection_for_select(@iterations, :value, :label, @right_iteration), class: 'iteration_select' %>
    </div>
  </div>
  <% end %>
  <p>
    <%= link_to 'Submit New Iteration', new_problem_submission_path(:problem_id => @problem.id) %>
  </p>
</div>

<h2>Submitted Files</h2>
<div class="iteration_section">
  <%
    left_file_paths = @left_files.select(:relative_path).map(&:relative_path)
    right_file_paths = @right_files.select(:relative_path).map(&:relative_path)
    all_file_paths = left_file_paths | right_file_paths 
    
    display_file = true
    all_file_paths.each_with_index do |path, i|
  %>
    <h3><%= path %> <a class="diff_file_path_link", id="diff_file_<%= i %>">Hide Code</a> </h3>
    <div class="diff_file" id="diff_file_<%= i %>" style="display: <%= display_file ? 'block' : 'block' %>">
      <%= render partial: "diff" , locals: { left_file: @left_files.find_by_relative_path(path), right_file: @right_files.find_by_relative_path(path) } %>
    </div>
  <% 
      display_file = false
    end
  %>
</div>

<h2>Compilation</h2>
<div class="iteration_section">
  <div class="left_iteration">
    <div>
      <%= render partial: "compilation_results", locals: { problem_submission: @left_submission } %>
    </div>
  </div>
  <% unless @show_one_iteration%>
  <div class="right_iteration">
    <div>
      <%= render partial: "compilation_results", locals: { problem_submission: @right_submission } %>
    </div>
  </div>
  <% end %>
</div>

<h2>Tests Results</h2>
<div class="iteration_section">
  <div class="left_iteration">
    <div>
      <%= render partial: "submission_test_results/list", locals: { test_results: @left_submission.submission_test_results } %>
    </div>
  </div>
  <% unless @show_one_iteration%>
  <div class="right_iteration">
    <div>
      <%= render partial: "submission_test_results/list", locals: { test_results: @right_submission.submission_test_results } %>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'Back', problem_submissions_path %>