<p id="notice"><%= notice %></p>

<h1>Code Review</h1>

<div class="iteration_section">
  <h2>Iterations</h2>
  <div class="left_iteration">
    <div class="iteration_name">
      Left Iteration:
    </div>
    <div class="iteration_selector">
      <%= select_tag "left_iteration_select", options_for_select(@iterations, @left_iteration), class: 'iteration_select' %>
    </div>
  </div>
  <div class="right_iteration">
    <div class="iteration_name">
      Right Iteration:
    </div>
    <div class="iteration_selector">
      <%= select_tag "right_iteration_select", options_for_select(@iterations, @right_iteration), class: 'iteration_select' %>
    </div>
  </div>
</div>

<div class="iteration_section">
  <h2>Compilation Result</h2>
  <div class="left_iteration">
    <div>
      <%= render partial: "compilation_results", locals: { problem_submission: @left_submission } %>
    </div>
  </div>
  <div class="right_iteration">
    <div>
      <%= render partial: "compilation_results", locals: { problem_submission: @right_submission } %>
    </div>
  </div>
</div>

<div class="iteration_section">
  <h2>Tests Results</h2>
  <div class="left_iteration">
    <div>
      
    </div>
  </div>
  <div class="right_iteration">
    <div>
      
    </div>
  </div>
</div>

<%= link_to 'Back', problem_submissions_path %>