<h1>Listing problem_submissions</h1>

<table>
  <thead>
    <tr>
      <th>File relative path</th>
      <th>Iteration</th>
      <th>When</th>
      <th>Problem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problem_submissions.each do |problem_submission| %>
      <tr>
        <td><%= problem_submission.file_relative_path %></td>
        <td><%= problem_submission.iteration %></td>
        <td><%= problem_submission.when %></td>
        <td><%= problem_submission.problem %></td>
        <td><%= link_to 'Show', problem_submission %></td>
        <td><%= link_to 'Edit', edit_problem_submission_path(problem_submission) %></td>
        <td><%= link_to 'Destroy', problem_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem submission', new_problem_submission_path %>
