<%= form_for(@test_case) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this test_case from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :problem_id %>
  
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :input %><br>
    <%= f.text_area :input, class: 'test_case_area test_case_input' %>
  </div>
  <div class="field">
    <%= f.label :output %><br>
    <%= f.text_area :output, class: 'test_case_area test_case_output' %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.text_field :points %>
  </div>
  <div class="field">
    <%= f.label :max_time_execution_sec %><br>
    <%= f.text_field :max_time_execution_sec %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
