<h2>Test Cases</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Input</th>
      <th>Output</th>
      <th>Points</th>
      <th>Max Execution Time (sec)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_cases.each do |test_case| %>
      <tr>
        <td><%= test_case.title %></td>
        <td><%= test_case.input %></td>
        <td><%= test_case.output %></td>
        <td><%= test_case.points %></td>
        <td><%= test_case.max_time_execution_sec %></td>
        <td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
        <td><%= link_to 'Destroy', test_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Case', new_test_case_path(problem_id: @problem) %>
