<h1>Listing submission_test_results</h1>

<table>
  <thead>
    <tr>
      <th>Execution time in ms</th>
      <th>Output</th>
      <th>Errors output</th>
      <th>Feedback</th>
      <th>Terminates?</th>
      <th>Return state</th>
      <th>Execution result</th>
      <th>Test case</th>
      <th>Problem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submission_test_results.each do |submission_test_result| %>
      <tr>
        <td><%= submission_test_result.execution_time_in_ms %></td>
        <td><%= submission_test_result.output %></td>
        <td><%= submission_test_result.errors_output %></td>
        <td><%= submission_test_result.feedback %></td>
        <td><%= submission_test_result.terminates? %></td>
        <td><%= submission_test_result.return_state %></td>
        <td><%= submission_test_result.execution_result %></td>
        <td><%= submission_test_result.test_case %></td>
        <td><%= submission_test_result.problem %></td>
        <td><%= link_to 'Show', submission_test_result %></td>
        <td><%= link_to 'Edit', edit_submission_test_result_path(submission_test_result) %></td>
        <td><%= link_to 'Destroy', submission_test_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission test result', new_submission_test_result_path %>
